@import "./_settings";
// @import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

body {
  background: none;
  color: none;
}

html {
  background: url(https://user-images.githubusercontent.com/4650739/50996938-f5c7f000-14e8-11e9-9aaa-2838a02364ac.gif) no-repeat center center fixed;
  background-size: cover;
}
/*http://i.dailymail.co.uk/i/pix/2013/10/16/100000starsgif1.gif*/

.panel {
  font-family: Orbitron;
  h1, h2, h3, h4, h5, h6 {
    font-family: Orbitron;
    color: #D9BB5C;
    margin: 10px;
  }
  p {
    font-family: Orbitron;
    color: #DAD9D4;
    text-align: center;
  }
}

.header.panel {
  font-family: Orbitron;
  margin: 3rem auto;
  border: 2px solid #133B48;
  background: #133B48;
  opacity: .9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;

  p {


    span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold;
    }
  }

  .sign {
    font-family: Orbitron;
    background:#469591;
    width: 90%;
    border: 2px solid #469591;
    position: relative;
    top: -2.5rem;
    margin: auto;

    h2 {
      font-family: Orbitron;
      text-transform: uppercase;
      font: bolder 0.875rem;
      letter-spacing: 3px;
      color: #D9BB5C;
      text-align: center;
      font-size: medium;
    }
  }
}



//=======================TIMER STYLES===================

.button-group {
  margin-bottom: 1rem;
  button + button {
    margin-left: 5px;
  }
}

input[data-toggle] {
  display: none; }

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  background-color: salmon;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

.button-group.toggle li:not(first-child) {
  margin: 0 -0.9rem; }


.targets-list {
  margin-top: 1.2rem;
  .alert-box {
    font-size: 1.2rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-bottom: .2rem;

    &:hover {
      background-color: #C7E1B6;
    }
  }
}

.icon-style  {
  color: #B4243B;
  font-size: 2.5rem;
  padding:.01em .22em;
  &:hover {
    color: lighten(#B4243B, 30%);
    box-shadow: 0 0 0 5px #fff;
    &:active {
      color: #B4243B;
      background-color: #fff;
      box-shadow: 0 0 0 5px #fff;
      transform: scale(1.5);
      transition: all .4s ease-in-out;
    }
  }
}

.setTimeLaunch {
  background-color: #469591;
  margin-top: 3.2rem;
  &:hover {
    background-color: #B4243B;
  }
}

#timeLabel {
  color: #999;
}

.timeValues {
  font-size: 5rem;
}

.flip-clock-wrapper {
    display: flex;
    justify-content: center;
}

//==================Maps Styles=================
.map-container {
  max-width: 100%;
  height: 500px;
  opacity: 1;
}

.styled-checkbox {
  position: relative;
  border: 2px solid #4f4f4f;
  float: right;
  margin-top: 0.45rem;
  margin-right: 0.25rem;
  background-color: #fff;
  width: 1rem;
  height: 1rem;

  &.checked:after {
    content: '';
    position: absolute;
    bottom: 0.25rem;
    left: .06rem;
    width: 0.9rem;
    height: 1.3rem;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    transform: rotate(45deg);
  }
}

//==================Launch Target Item=================
.event {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.event-date {

  .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center;
  }

  .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem;
  }
}

.event-desc {
  padding: 0 0 0 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  h4 {
    font-size: x-large;
  }

  .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0;
  }

  .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
  }

  .event-desc-time {
    font-weight: bold;
  }

  .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }
}


//==================Sharing=================
.btn.btn-facebook {
  border-radius: 4px;
  color: #FFFFFF;
}
.btn.btn-facebook:hover,
.btn.btn-facebook:focus {
  color: #FFFFFF;
  background: #3B5998;
}
.btn.btn-twitter {
  border-radius: 4px;
  color: #FFFFFF;
}
.btn.btn-twitter:hover,
.btn.btn-twitter:focus {
  color: #FFFFFF;
  background: #4099FF;
}
.btn.btn-google-plus {
  border-radius: 4px;
  color: #FFFFFF;
}
.btn.btn-google-plus:hover,
.btn.btn-google-plus:focus {
  background: #D34836;
  color: #FFFFFF;
}
.btn.btn-github {
  border-radius: 4px;
  color: #FFFFFF;
}
.btn.btn-github:hover,
.btn.btn-github:focus {
  background: grey;
  color: #FFFFFF;
}
//==================Footer=================

.hero {
  font-family: Orbitron;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-around;
  margin: 5%;

  h1,h4, a {
    font-family: Orbitron;
    color: #D9BB5C;
    text-align: center;
    margin-top: 15px;
  }

}


.footer {
  opacity: .8;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  font-family: Orbitron;
  p {
    &.slogan {
      color: #D9BB5C;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: #469591;
      font-size: 0.875rem;
      margin: 0;
    }
  }
  .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 0 0.4rem 0 0.8rem;
    margin: 5px;

  }
}