@import "./_settings";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

body {
  background:#333;
}

.header.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: #fff;

  p {
    text-align: center;
    font: 1rem "Avenir Next";
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -1.25rem;

    span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold;
    }
  }

  .sign {
    background:#fff;
    width: 90%;
    height: 2.4rem;
    border: 2px solid #444;
    position: relative;
    top: -2.5rem;
    margin: auto;

    h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: #666;
      font-size: 70%;
      text-align: center;
      line-height: 2rem;
    }
  }
}

.button-group {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  &:before {
    content: attr(data-grouptype);
    z-index: 99999;
    color: #999;
    display: block;
    font-size: 1rem;
    padding: 0.25em;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 42.5%;
    top: 0.35rem;
  }
  button + button {
    margin-left: 5px;
  }
}

.targets-list {
  margin-top: 1.2rem;
  .alert-box {
    margin-bottom: .2rem;
  }
}

//==================Maps Styles=================
.map-container {
  width: 800px;
  max-width: 100%;
  height: 500px;
}
