<template name="launchPlan">
  <div class="row">
    <div class="small-12 medium-10 large-10 small-centered columns">
      <div class="header panel">
        <div class="sign">
          <h1>Target Acquisition</h1>
        </div>
        <p>
          <div class="button-group" data-grouptype="OR">
            <a id="currentPosition" href="/plan/{{_id}}/targets" class="button primary radius">Current position</a>
            <a id="pickPosition" href="/plan/{{_id}}/select" class="button success radius">Select position</a>
          </div>
        </p>
      </div>
    </div>
  </div>
</template>
