<template name='map'>
  <div class="row">
    <div class="small-12 medium-10 large-10 small-centered columns">
      <div class="header panel">
        <div class="sign">
          <h1>Select Target Options</h1>
        </div>
        <div class="map-container">

          {{getLaunchID}}

          {{#unless geolocationError}}
            {{> googleMap name='map' options=mapOptions}}
          {{else}}
            Geolocation failed: {{geolocationError}}
          {{/unless}}
        </div>
        <a href="#" id="gotoSetTime" class="button success" disabled>Set Launch Time</a>
        <div class="targets-list">
          {{#each allTargets}}
            {{> targetListItem}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name='targetListItem'>
  <div small-12 medium-6 large-6 columns data-alert="" class="alert-box secondary">
    {{name}}
    <!-- <input type="checkbox" value="{{include}}"> -->
    <div class="styled-checkbox"></div>
  </div>
</template>
