<template name="footer">

  <footer class="footer">
    <div class="row">
      <div class="small-12 columns">
        <p class="slogan">Launch Target</p>
        <p class="links">
          <a href="{{shareOnFacebookLink}}" target="_blank" class="btn btn-facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="{{shareOnTwitterLink}}" target="_blank" class="btn btn-twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="{{shareOnGooglePlusLink}}" target="_blank" class="btn btn-google-plus">
            <i class="fa fa-google-plus"></i>
          </a>
          <a href="{{openGitHubCode}}" target="_blank" class="btn btn-github">
            <i class="fa fa-github"></i>
          </a>
        </p>
        <p class="copywrite">Site by DevLeague © 2015</p>
      </div>
    </div>
  </footer>

</template>