<template name='finalLaunchPlan'>
  <div class="row">
    <div class="small-12 medium-10 large-10 small-centered columns">
      <div class="header panel">
        <div class="sign">
          <h1>Final Launch Plan</h1>
        </div>
          <div>

          <div class="map-container">
            {{getLaunchID}}

            {{#unless geolocationError}}
              {{> googleMap name='map' options=mapOptions}}
            {{else}}
              Geolocation failed: {{geolocationError}}
            {{/unless}}
          </div>

          </div>

          <div>
              {{> flipclock }}
          </div>

          <div class="targets-list">
            {{#each allFinalTargets}}
              {{> targetListItem}}
            {{/each}}
          </div>
      </div>
    </div>
  </div>
</template>

<template name='finalTargetList'>
    <div class="targets-list">
      {{#each allFinalTargets}}
        {{> targetListItem}}
      {{/each}}
    </div>
</template>