<template name="setTimeTemplate">

  <div class="row">
    <div class="small-12 medium-10 large-10 small-centered columns">
      <div class="header panel">
        <div class="sign">
          <h1>Set Time</h1>
        </div>
        <p>
          <ul class="button-group round toggle" data-toggle="buttons-radio">
            <li>
              <input type="radio" name="toggle-group" id="inTimeSwitch" class="button secondary" data-toggle="button">
              <label for="inTimeSwitch" class="button">
                Set Launch In
              </label>
            </li>
            <li>
              <input type="radio" name="toggle-group" id="atTimeSwitch" class="button secondary" data-toggle="button">
              <label for="atTimeSwitch" class="button">
                Set Launch At
              </label>
            </li>
          </ul>


          {{> pickerTemplate}}
<!--           {{#if inTimeSwitchSelected}}
            {{> inTimeTemplate}}
          {{else}}
            {{> atTimeTemplate}}
          {{/if}}
 -->        </p>
      </div>
    </div>
  </div>

</template>

<template name='inTimeTemplate'>
  <input type="text" data-field="time" data-view="Dropdown" readonly class="intime" placeholder="have lunch in ...">
  <div id="dtBox"></div>
  <button class="deploy">DEPLOY</button>
</template>

<template name='atTimeTemplate'>
  <input type="text" data-field="time" class="attime" readonly placeholder="have lunch at...">
  <div id="dtBox"></div>
  <button class="deploy">DEPLOY</button>
</template>

<template name="pickerTemplate">
  <div class="row">

    <div class="large-12 columns">
      <div class="compValue">value</div>
    </div>

    <div class="timePicker large-12 columns">
      <div class="row">

        <div class="setHour small-6 columns">
          <div class="row">
            <div class="large-12 columns">
              <a class="incrementHour">+</a>
            </div>
            <div class="large-12 columns">
              <input type="text" class="hourValue" readonly>
            </div>
            <div class="large-12 columns">
              <a class="decrementHour">-</a>
            </div>
          </div>
        </div>

        <div class="setMinute small-6 columns">
          <div class="row">
            <div class="large-12 columns">
              <a class="incrementMinute">+</a>
            </div>
            <div class="large-12 columns">
              <input type="text" class="minuteValue" readonly>
            </div>
            <div class="large-12 columns">
              <a class="decrementMinute">-</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>