<template name="setTimeTemplate">

  <div class="row">
    <div class="small-12 medium-10 large-10 small-centered columns">
      <div class="header panel">
        <div class="sign">
          <h1>Set Time</h1>
        </div>
        <p>
<!--           <ul class="button-group round toggle" data-toggle="buttons-radio">
            <li>
              <input type="radio" name="toggle-group" id="inTimeSwitch" class="button secondary" data-toggle="button">
              <label for="inTimeSwitch" class="button">
                Set Launch In
              </label>
            </li>
            <li>
              <input type="radio" name="toggle-group" id="atTimeSwitch" class="button secondary" data-toggle="button">
              <label for="atTimeSwitch" class="button">
                Set Launch At
              </label>
            </li>
          </ul> -->


          {{> pickerTemplate}}
<!--           {{#if inTimeSwitchSelected}}
            {{> inTimeTemplate}}
          {{else}}
            {{> atTimeTemplate}}
          {{/if}}
 -->        </p>
      </div>
    </div>
  </div>

</template>

<template name='inTimeTemplate'>
  <input type="text" data-field="time" data-view="Dropdown" readonly class="intime" placeholder="have lunch in ...">
  <div id="dtBox"></div>
  <button class="deploy">DEPLOY</button>
</template>

<template name='atTimeTemplate'>
  <input type="text" data-field="time" class="attime" readonly placeholder="have lunch at...">
  <div id="dtBox"></div>
  <button class="deploy">DEPLOY</button>
</template>

<template name="pickerTemplate">
  <div class="row">

    <div class="timePicker large-12 columns">
      <div class="row">

        <!-- HOUR PICKER -->
        <div class="setHour small-6 columns">
          <div class="row">
            <div class="large-12 columns">
                <i class="incrementHour fi-arrow-up icon-style"></i>
            </div>
            <div class="large-12 columns">
              <h1 class="hourValue timeValues"></h1>
            </div>
            <div class="large-12 columns">
              <h1 id="timeLabel">HR</h1>
            </div>
            <div class="large-12 columns">
                <i class="decrementHour fi-arrow-down icon-style"></i>
            </div>
          </div>
        </div>

        <!-- MINUTE PICKER -->
        <div class="setMinute small-6 columns">
          <div class="row">
            <div class="large-12 columns">
                <i class="incrementMinute fi-arrow-up icon-style"></i>
            </div>
            <div class="large-12 columns">
              <h1 class="minuteValue timeValues"></h1>
            </div>
            <div class="large-12 columns">
              <h1 id="timeLabel">MIN</h1>
            </div>
            <div class="large-12 columns">
                <i class="decrementMinute fi-arrow-down icon-style"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-2 large-offset-5 columns">
      <div class="row">
        <div class="large-6 columns">
          <h1 class="currentHourValue"></h1>
        </div>
        <div class="large-6 columns">
          <h1 class="currentMinuteValue"></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
        <!-- LAUNCH BUTTON -->
    <div class="large-12 columns">
      <button class="setTimeLaunch radius expand">LAUNCH</button>
    </div>
  </div>
</template>