<template name='selectTargets'>

   <div class="row">
    <div class="small-12 medium-10 large-10 small-centered columns">
      <div class="header panel">
        <div class="sign">
          <h2>Set Launch Targets</h2>
        </div>

        <div class="map-container small-12 small-centered columns">
          {{> map }}
        </div>

        <div class="small-12 medium-10 large-10 small-centered columns">
          {{> targetList }}
        </div>
      </div>
    </div>
  </div>

</template>